Source: python-boost-numpy-eigen
Section: python
Priority: optional
Maintainer: Jeongseok Lee <jslee02@gmail.com>
Build-Depends: debhelper (>= 9.0.0), 
               cmake,
               libboost-dev,
               libboost-python-dev,
               python-dev,
               libboost-python-numpy-dev
Homepage: https://github.com/personalrobotics/Boost.NumPy_Eigen
Standards-Version: 3.9.2

Package: python-boost-numpy-eigen
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, python-numpy
Description: Boost.Python interface for NumPy - Shared Library
 Boost.NumPy is an extension for Boost.Python that adds NumPy support.

Package: python3-boost-numpy-eigen
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}, python3-numpy
Description: Boost.Python interface for NumPy - Shared Library
 Boost.NumPy is an extension for Boost.Python that adds NumPy support.
