Source: boost-numpy-eigen
Section: misc
Priority: extra
Maintainer: Jeongseok Lee <jslee02@gmail.com>
Build-Depends: debhelper (>= 9.0.0), 
               cmake,
               libboost-dev,
               libboost-python-dev,
               python-numpy,
               python-dev,
               libboost-python-numpy-dev
Homepage: https://github.com/personalrobotics/pr_control_msgs
Standards-Version: 3.9.2

Package: libboost-numpy-eigen
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Boost.Python interface for NumPy - Shared Library
 Boost.NumPy is an extension for Boost.Python that adds NumPy support.

Package: libboost-numpy-eigen-dev
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libboost-numpy-eigen (= ${binary:Version}),
         libboost-dev,
         libboost-python-dev,
         python-numpy,
         python-dev,
         libboost-python-numpy-dev
Description: Boost.Python interface for NumPy - Development Files
 Boost.NumPy is an extension for Boost.Python that adds NumPy support.
